# NVIDIA driver logs
NVIDIA Corporation/

# IDE
.idea/
.vscode/
*.iml

# Java
*.class
*.jar
*.war
target/
*.log

# Maven
.mvn/
mvnw*

# OS
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Node.js
node_modules/
dist/

# Android
.gradle/
build/
local.properties
*.apk
*.aab
